<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="DZRESTO is an explorer that displays various restaurants located in Indonesia">
  <meta name="theme-color" content="#000" />
  <link rel="apple-touch-icon" href="images/favicon/brand-logo.png">
  <title>DZRESTO</title>
</head>

<body>
  <skip-to-content></skip-to-content>

  <app-bar></app-bar>

  <hero-image></hero-image>

  <main id="mainContent" tabindex="0" aria-label="main content">
    <div class="restaurant-list"></div>
  </main>

  <footer-copyright></footer-copyright>

  <page-loader></page-loader>
</body>

</html>